<div>
  <div tuiHeader>
    <div tuiTitle>
      Maskito
      <div tuiSubtitle>
        Awesome
        <span [tuiSensitive]="true">one</span>
      </div>
    </div>

    <div tuiAccessories>
      <tui-badge-notification>1</tui-badge-notification>
      <tui-icon tuiTooltip="Mask it" />
      <a
        href="https://maskito.dev/"
        rel="noreferrer"
        target="_blank"
        tuiButton
      >
        Support
      </a>
    </div>
  </div>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam asperiores atque autem
    consequatur cumque cupiditate delectus doloremque doloribus ea earum eius eos error esse est eum eveniet
  </p>
</div>
